
  <!-- HTML Meta Tags -->
  <title>As prices soar, border officials are seeing a spike in egg smuggling from Mexico</title>
  <meta name="description" content="U.S. egg prices have climbed 60% in the past year, making it tempting to bring eggs over from Mexico, where prices are lower. But those who try to smuggle them risk thousands of dollars in fines.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://pi.nogson.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="As prices soar, border officials are seeing a spike in egg smuggling from Mexico">
  <meta property="og:description" content="U.S. egg prices have climbed 60% in the past year, making it tempting to bring eggs over from Mexico, where prices are lower. But those who try to smuggle them risk thousands of dollars in fines.">
  <meta property="og:image" content="https://media.npr.org/assets/img/2023/01/20/gettyimages-1236450937_wide-30e9019ba33d51e125b81eb39a8b2ae03583d12a-s1400-c100.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="pi.nogson.com">
  <meta property="twitter:url" content="https://pi.nogson.com">
  <meta name="twitter:title" content="As prices soar, border officials are seeing a spike in egg smuggling from Mexico">
  <meta name="twitter:description" content="U.S. egg prices have climbed 60% in the past year, making it tempting to bring eggs over from Mexico, where prices are lower. But those who try to smuggle them risk thousands of dollars in fines.">
  <meta name="twitter:image" content="https://media.npr.org/assets/img/2023/01/20/gettyimages-1236450937_wide-30e9019ba33d51e125b81eb39a8b2ae03583d12a-s1400-c100.jpg">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        